# Arquivos de objeto e bibliotecas
*.o
*.lo
*.la
*.al
.libs
*.so
*.so.[0-9]
*.a
*.vsidx

# Arquivos Python
*.pyc
*.pyo

# Arquivos de patch
*.rej

# Arquivos temporários
*~

# Arquivos de swap de editores de texto
## .#*

# Arquivos de estado do Windows
.DS_Store

# Diretórios de compilação
bin/
obj/

# Arquivos de solução e usuário do Visual Studio
*.suo
*.user

# Arquivos de backup do ML
*.~ml
*.lock
*.bin
.vs/OrderManagementApi/config/applicationhost.config
.vs/OrderManagementApi/v17/DocumentLayout.json
.vs/OrderManagementApi/v17/DocumentLayout.backup.json
